@tailwind base;
@tailwind components;
@tailwind utilities;

.border-bot {
  border-bottom: 1px solid;
}

.myasenso {
  background-image: url("./images/works/myasenso.png");
  width: 100%;
  height: auto;
}
